doctype
html(lang='en')
    head
        link(rel="stylesheet", href="/css/sidebar.css")

        script(src='js/sidebar.js', defer)
    body
        #sidebar.float-left
            a(href='/dashboard')
                .icon.round.shadow
                    img.round(alt=user.username, src=user.avatarUrl(64))
            hr.hr
            each guild in guilds
                a.no-text-decor(href='/servers/' + guild.id)
                    if guild.icon
                        .icon.round.shadow.my-2(data-toggle='tooltip', data-placement='right', title=guild.name)
                            img.round(alt=guild.name, src=utils.getGuildIcon(guild.id, guild.icon, 64), id='guild')
                    else        
                        .icon.round.shadow.my-2.bg-secondary(data-toggle='tooltip', data-placement='right', title=guild.name)
                            p.text-center.abbr.no-text-decor #{utils.getNameAcronym(guild.name)}
            hr.hr
            a(href='/invite')
                .icon.round.shadow.mt-2.bg-secondary(data-toggle='tooltip', data-placement='right', title="Add a server")
                    p.text-center.abbr.no-text-decor.text-success
                        i.fas.fa-plus
            .hamburger
                i.fas.fa-bars